<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
 <%=link_to "All", articles_path%>
 <%=link_to "Jan", months_jan_path %>
 <%=link_to "Feb", months_feb_path %>
 <%=link_to "Mar", months_mar_path %>
 <%=link_to "Apr", months_apr_path %>
 <%=link_to "May", months_may_path %>
 <%=link_to "Jun", months_jun_path %>
 <%=link_to "Jul", months_jul_path %>
 <%=link_to "Aug", months_aug_path %>
 <%=link_to "Sep", months_sep_path %>
 <%=link_to "Oct", months_oct_path %>
 <%=link_to "Nov", months_nov_path %>
 <%=link_to "Dec", months_dec_path %>

  <div id="container">
    <div id="content">
      <%= yield %>
      <hr>
      <h6>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to "(logout)", logout_path %>
        <% else %>
          <%= link_to "(login)", login_path %>
        <% end %>
      </h6>
    </div>
  </div>
</body>
</html>
